:root {
    --light-green: #98ca3c;
    --dark-green: #51b348;
    --light-purple: #a16ae8;
    font-family: "Fredoka";
    font-size: 1.25rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
body {
    background-image: linear-gradient(var(--light-green), var(--dark-green));
    height: 100%;
    width: 100%;
    color: black;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
    letter-spacing: 0.03rem;
}

h1 {
    text-align: center;
    background-color: var(--light-purple);
    padding: 15px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.854);
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.emphasized {
    color: var(--light-purple);
    letter-spacing: 0.02rem;
    font-size: 1.15rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

a,
a:visited {
    color: var(--light-purple);
    text-decoration: none;
}

.content-container {
    max-width: 1000px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 30px 10px 30px;
}

.logo {
    max-width: 500px;
    width: 85%;
    align-self: center;
    display: block;
}
